body
{
    background: url(/Mon\ projet.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.vertical-box
{
    min-height:100vh;
}
.background
{
    background-color: rgba(0, 0, 0, 0.429);
}

.asc i[class="fa-solid fa-sort-up"],.dsc i[class="fa-solid fa-sort-down"]
{
    display: none;
}
.dsc  i[class="fa-solid fa-sort-up"],.asc i[class="fa-solid fa-sort-down"]
{
    display: block;
}